
// ------------COLOR BLOCK------------
$background_color: #ffffff;
$main_text_color: #0e0e0e;

// HEADER
$header_logo_backgroud_color: #D8E7E1;
$header_wave_text_color: #4d6d60;
$header_buttons_color: #D8E7E1;
